body {
    font: 16px 'Segoe UI';
}

h1 {
    margin: 0;
    padding: 5px 20px;
    background: #333;
    color: #fff;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #333;
    padding: 5px;
}

th {
    background: #ccc;
}
